/* Style Variables */
:root {
  --claret-50: #fdf4f3;
  --claret-100: #fce7e7;
  --claret-200: #f9d2d5;
  --claret-300: #f3aeb2;
  --claret-400: #ec8089;
  --claret-500: #e15262;
  --claret-600: #cc324b;
  --claret-700: #ab253d;
  --claret-800: #902139;
  --claret-900: #7d2037;
  --claret-950: #440d19;
}

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Body Styling */
body {
  margin: 0;
  padding: 0;
  background-color: var(--claret-100);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  width: 80%;
  border-radius: 30px;
  padding: 2.5rem;
  border: 1px solid #008F99;
  margin: 1.5rem auto;
  background-color: #f8f8f9;
  box-shadow: 3px 3px 7px 1px #333;
}

/* Header Styles */
.content__header {
  display: flex;
  justify-content: space-between;
}

.logo-section {
  flex: 0 0 25%;
}

#logo2 {
  width: 70%;
  height: auto;
}

.text-section {
  flex: 1;
}

.logo-section img {
  width: 40%;
  height: auto;
}

.content__header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4vw; /* Responsive font size */
  color: var(--claret-900);
  font-weight: 500;
}

.content__header h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vw; /* Responsive font size */
  color: black;
  font-weight: 500;
}

.header-section {
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .logo-section img {
    display: none;
  }

  .content__header {
    flex-direction: column;
    text-align: center;
  }
}

/* Button Styles */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 1.5vw;
  width: 260px;
  height: 48px;
  background-color: var(--claret-500);
  border-radius: 10px;
  color: #fff;
  font-size: x-large;
  font-family: monospace;
  box-shadow: 3px 3px 7px 1px #898989;
  cursor: pointer;
  transition: 0.4s;
  margin: 3.5rem auto 0;
}

.buttons:hover {
  background-color: var(--claret-600); /* Slightly lighter tone for a smoother transition */
}

/* Link Styles */
.link__code {
  width: 100%;
  font-size: 22px;
  padding: 5px;
  text-align: center;
  margin-bottom: 2rem;
}

.link_active {
  border-bottom: 2px solid #008F99;
  color: #008F99 !important;
  padding-bottom: 5px;
}

.link__code a {
  text-decoration: none;
  color: #666666;
  margin: 0 10px;
}

/* Footer */
footer {
    /* margin-top: auto; */
    text-align: center;
    font-family: monospace;
    font-size: 1.3vw;
    font-weight: 500;
    background-color: var(--claret-900);
    width: 100%;
    padding: 8px;
    height: 2.4rem;
    color: #f8f8f9;
}

/* Message Box Styles */
.msg-ckeck {
  width: 97%;
  min-height: 130px;
  background-color: #DADADA;
  margin-top: 20px;
  padding: 1em;
  box-shadow: 2px 2px 10px 1px #898989;
  border: 1px solid;
  border-radius: 20px;
}

.box_msg_style {
  width: 100%;
  height: 130px;
  resize: none;
  outline: none;
  border-radius: 20px;
  padding: 1em;
}

#nombreUsuario {
  color: var(--claret-900);
}
