/* style por id */
body {
  margin: 0;
  padding: 0;

}

header {
  height: 150px;
}

#logo {
  height: 150px;
  width: 100%;
}

#seccion0  {
    text-align: center;


}
table {
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid black;
  width: 45px;
  display: table;
}

/* imagen silent debajo de oso */
#silent {             
  width: 262px;
  height: 360px;
}
#container1{
  margin: -29px;
  padding:0px;
  font-size: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.botones {
  border: 2px solid #000;
  margin: 0 0 1em 0;
  padding: 10px;
  width: 42%;
  font-size: medium;
}

.botones {
  border: 3px solid #850a25;
  background-color: #cf0e0e;
  border-radius: 5px;
  padding: 10px 2em;
  font-weight: bold;
  color: #fff;
}

#positions {
  width: 3em;
}















div > div {
  margin: 10px;
  padding: 20px;
}

footer {
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  background-color: red;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #000;
  /* height: 21px; */
  /* margin-top: 46px; */
}

